<div id="all-charts" class="bg-gradient-to-br from-[white] to-[#e2d3ea] p-10 rounded-md mb-10 hover:from-[white] hover:to-[#fccadb]">
    <div class="relative flex flex-col break-words w-min m-auto shadow-lg rounded bg-white bg-opacity-75">
        <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
            <div class="flex flex-wrap items-center">
                <div class="relative w-full max-w-full flex-grow flex-1">
                    <h6 class="uppercase text-[#383b63] mb-1 text-xs font-semibold">All Environmental Data</h6>
                </div>
            </div>
        </div>
        <div class="p-4 flex-auto">
            <!-- Chart -->
            <div class="relative w-max h-max font-Poppins">
                <canvas id="line-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<div id="water-consumption-chart" class="bg-gradient-to-br from-[white] to-[#e2d3ea] p-10 rounded-md mb-10 hover:from-[white] hover:to-[#fccadb]">
    <div class="relative flex flex-col break-words w-min m-auto shadow-lg rounded bg-white bg-opacity-75">
        <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
            <div class="flex flex-wrap items-center">
                <div class="relative w-full max-w-full flex-grow flex-1">
                    <h6 class="uppercase text-[#383b63] mb-1 text-xs font-semibold">Water Consumption</h6>
                </div>
            </div>
        </div>
        <div class="p-4 flex-auto">
            <!-- Water Consumption Chart -->
            <div class="relative w-max h-max font-Poppins">
                <canvas id="water-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<div id="natural-gas-consumption-chart" class="bg-gradient-to-br from-[white] to-[#e2d3ea] p-10 rounded-md mb-10 hover:from-[white] hover:to-[#fccadb]">
    <div class="relative flex flex-col break-words w-min m-auto shadow-lg rounded bg-white bg-opacity-75">
        <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
            <div class="flex flex-wrap items-center">
                <div class="relative w-full max-w-full flex-grow flex-1">
                    <h6 class="uppercase text-[#383b63] mb-1 text-xs font-semibold">Natural Gas Consumption</h6>
                </div>
            </div>
        </div>
        <div class="p-4 flex-auto">
            <!-- Natual Gas Consumption Chart -->
            <div class="relative w-max h-max font-Poppins">
                <canvas id="gas-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<div id="grid-electricity-consumption-chart" class="bg-gradient-to-br from-[white] to-[#e2d3ea] p-10 rounded-md mb-10 hover:from-[white] hover:to-[#fccadb]">
    <div class="relative flex flex-col break-words w-min m-auto shadow-lg rounded bg-white bg-opacity-75">
        <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
            <div class="flex flex-wrap items-center">
                <div class="relative w-full max-w-full flex-grow flex-1">
                    <h6 class="uppercase text-[#383b63] mb-1 text-xs font-semibold">Grid Electricity Consumption</h6>
                </div>
            </div>
        </div>
        <div class="p-4 flex-auto">
            <!-- Grid Electricity Consumption Chart -->
            <div class="relative w-max h-max font-Poppins">
                <canvas id="grid-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<div id="steam-consumption-chart" class="bg-gradient-to-br from-[white] to-[#e2d3ea] p-10 rounded-md mb-10 hover:from-[white] hover:to-[#fccadb]">
    <div class="relative flex flex-col break-words w-min m-auto shadow-lg rounded bg-white bg-opacity-75">
        <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
            <div class="flex flex-wrap items-center">
                <div class="relative w-full max-w-full flex-grow flex-1">
                    <h6 class="uppercase text-[#383b63] mb-1 text-xs font-semibold">Steam Consumption</h6>
                </div>
            </div>
        </div>
        <div class="p-4 flex-auto">
            <!-- Steam Consumption Chart -->
            <div class="relative w-max h-max font-Poppins">
                <canvas id="steam-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<div id="food-waste-chart" class="bg-gradient-to-br from-[white] to-[#e2d3ea] p-10 rounded-md mb-10 hover:from-[white] hover:to-[#fccadb]">
    <div class="relative flex flex-col break-words w-min m-auto shadow-lg rounded bg-white bg-opacity-75">
        <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
            <div class="flex flex-wrap items-center">
                <div class="relative w-full max-w-full flex-grow flex-1">
                    <h6 class="uppercase text-[#383b63] mb-1 text-xs font-semibold">Food Waste</h6>
                </div>
            </div>
        </div>
        <div class="p-4 flex-auto">
            <!-- Food Waste Chart -->
            <div class="relative w-max h-max font-Poppins">
                <canvas id="food-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<div id="solar-kwh-chart" class="bg-gradient-to-br from-[white] to-[#e2d3ea] p-10 rounded-md mb-10 hover:from-[white] hover:to-[#fccadb]">
    <div class="relative flex flex-col break-words w-min m-auto shadow-lg rounded bg-white bg-opacity-75">
        <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
            <div class="flex flex-wrap items-center">
                <div class="relative w-full max-w-full flex-grow flex-1">
                    <h6 class="uppercase text-[#383b63] mb-1 text-xs font-semibold">Solar KWh</h6>
                </div>
            </div>
        </div>
        <div class="p-4 flex-auto">
            <!-- Solar Chart -->
            <div class="relative w-max h-max font-Poppins">
                <canvas id="solar-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<div id="water-recycled-chart" class="bg-gradient-to-br from-[white] to-[#e2d3ea] p-10 rounded-md mb-10 hover:from-[white] hover:to-[#fccadb]">
    <div class="relative flex flex-col break-words w-min m-auto shadow-lg rounded bg-white bg-opacity-75">
        <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
            <div class="flex flex-wrap items-center">
                <div class="relative w-full max-w-full flex-grow flex-1">
                    <h6 class="uppercase text-[#383b63] mb-1 text-xs font-semibold">Water Recycled</h6>
                </div>
            </div>
        </div>
        <div class="p-4 flex-auto">
            <!-- Water Recycled Chart -->
            <div class="relative w-max h-max font-Poppins">
                <canvas id="recycle-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" charset="utf-8"></script>
<script>
    // script to render charts
    let allCharts = ["line-chart", "water-chart", "gas-chart", "grid-chart", "steam-chart", "food-chart", "solar-chart", "recycle-chart"];

    // function to dynamically make charts
    function makeChart(chart, data) {
        var ctx = document.getElementById(chart).getContext("2d");
        var charts = data;
        var chartConfig = {
            type: "line",
            data: charts,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                title: {
                    display: false,
                    text: "",
                    fontColor: "black",
                },
                legend: {
                    labels: {
                        fontColor: "#383b63",
                        fontFamily: "'Poppins', sans-serif", // Set font family to Poppins
                        fontWeight: "thin", // Set font weight to thin
                    },
                    align: "end",
                    position: "bottom",
                },
                tooltips: {
                    mode: "index",
                    intersect: false,
                },
                hover: {
                    mode: "nearest",
                    intersect: true,
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            fontColor: "#383b63",
                            fontFamily: "'Poppins', sans-serif", // Set font family to Poppins
                            fontWeight: "thin", // Set font weight to thin
                        },
                        display: true,
                        scaleLabel: {
                            display: false,
                            labelString: "Month",
                            fontColor: "#383b63",
                            fontFamily: "'Poppins', sans-serif", // Set font family to Poppins
                            fontWeight: "thin", // Set font weight to thin
                        },
                        gridLines: {
                            display: false,
                            borderDash: [2],
                            borderDashOffset: [2],
                            color: "rgba(33, 37, 41, 0.3)",
                            zeroLineColor: "rgba(0, 0, 0, 0)",
                            zeroLineBorderDash: [2],
                            zeroLineBorderDashOffset: [2],
                        },
                    }],
                    yAxes: [{
                        ticks: {
                            fontColor: "#383b63",
                            fontFamily: "'Poppins', sans-serif", // Set font family to Poppins
                            fontWeight: "thin", // Set font weight to thin
                        },
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: "Value",
                            fontColor: "#383b63",
                            fontFamily: "'Poppins', sans-serif", // Set font family to Poppins
                            fontWeight: "thin", // Set font weight to thin
                        },
                        gridLines: {
                            borderDash: [3],
                            borderDashOffset: [3],
                            drawBorder: false,
                            color: "rgba(255, 255, 255, 0.15)",
                            zeroLineColor: "rgba(33, 37, 41, 0)",
                            zeroLineBorderDash: [2],
                            zeroLineBorderDashOffset: [2],
                        },
                    }],
                },
            },
        };  
        // calculate the canvas width and height so it is responsive
        var canvasWidth = Math.min(window.screen.width * 0.85, 650);
        var canvasHeight = window.screen.height * 0.5;
        // set canvas width and height
        ctx.canvas.width = canvasWidth;
        ctx.canvas.height = canvasHeight;
        // generate chart
        new Chart(ctx, chartConfig);
    }

    // i couldn't make this simpler sadly :,)
    // iterate over all chart names and render charts
    for (let i = 0; i < allCharts.length; i++) {
        if (i == 0) {
            makeChart(allCharts[i], {{{ allJsonData }}});
        } else if (i == 1) {
            makeChart(allCharts[i], {{{ waterConsData }}})
        } else if (i == 2) {
            makeChart(allCharts[i], {{{ gasData }}})
        } else if (i == 3) {
            makeChart(allCharts[i], {{{ gridData }}})
        } else if (i == 4) {
            makeChart(allCharts[i], {{{ steamData }}})
        } else if (i == 5) {
            makeChart(allCharts[i], {{{ foodData }}})
        } else if (i == 6) {
            makeChart(allCharts[i], {{{ solarData }}})
        } else if (i == 7) {
            makeChart(allCharts[i], {{{ waterRecData }}})
        }
    }

</script>
